{% extends "base.html" %}

{% block content %}
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to E-commerce Website..</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/>
                    <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum neque in tincidunt maximus. Etiam facilisis nunc metus, sit amet bibendum neque pharetra sed. Aliquam tempor interdum porttitor. Nunc tellus dolor, laoreet quis laoreet eleifend, cursus id justo. Donec condimentum lacus arcu, eu tempor mauris aliquet sit amet. Vestibulum justo tortor, rutrum ut ex in, condimentum scelerisque massa. Curabitur risus risus, finibus et scelerisque et, pharetra quis massa. In hac habitasse platea dictumst. Nulla eget orci vel eros auctor luctus. In tortor dolor, vehicula nec lorem et, bibendum dapibus eros. Duis tempor venenatis mi, vel suscipit ex semper ut. Morbi egestas sem ut pretium condimentum. Nunc velit augue, faucibus non tempus at, tincidunt eget massa. Suspendisse potenti. In aliquam turpis maximus purus cursus fringilla.
                    <br/><br/>
                    Morbi sit amet ex rhoncus, luctus tellus ac, elementum sapien. Nulla mauris nunc, pellentesque a erat at, maximus lacinia elit. Praesent nibh risus, dignissim non nisi id, vulputate sagittis arcu. Nunc placerat orci ut diam rhoncus, a dapibus turpis accumsan. Proin aliquam ut mauris eu maximus. Suspendisse potenti. Aenean vestibulum molestie justo, quis pretium est pellentesque quis.
                    Nunc at dapibus elit. Duis mi urna, gravida sed ultrices sit amet, lobortis sit amet magna. Nunc lobortis lectus sed elit porta pretium. Pellentesque et elit neque. Nulla facilisi. Pellentesque id suscipit nulla. Curabitur eget nisl justo.
                    <br/><br/>
                    Phasellus eu nulla non nunc commodo efficitur in nec leo. Quisque pretium ante velit, non elementum enim iaculis ut. Cras condimentum, magna quis ultrices elementum, orci tellus auctor mauris, porttitor luctus orci risus id purus. Nunc imperdiet felis vel libero gravida sollicitudin. Vestibulum et diam facilisis, tempus est ac, luctus urna. Curabitur elementum leo ac sagittis ultrices. Nam tempus mollis neque at fringilla. Phasellus quam ligula, hendrerit non hendrerit in, blandit pellentesque nibh. Etiam quis tortor ultricies, porta nisl eget, ornare dolor. Nunc nec metus vitae orci luctus dapibus. Phasellus nec maximus tortor. Duis scelerisque erat placerat nunc congue, quis venenatis nulla blandit. Curabitur vel velit sit amet erat cursus ultricies. Curabitur elementum sapien a odio ullamcorper interdum. Phasellus ornare rutrum sapien ac tempor. Pellentesque lectus urna, gravida sit amet rhoncus sed, pretium sit amet urna.
                    </p>
                    <br/>
                </div>
            </center>
        </div>
    </div>

{% endblock %}
        